.card {
  width: 100%;
  overflow: hidden;
  transition: opacity 0.26s ease-out;
  filter: drop-shadow(-8px -10px 46px #ffffff5f);
  backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  -webkit-box-shadow:
    inset 2px 2px 0px -2px rgba(255, 255, 255, 0.4),
    inset 0 0 3px 1px rgba(255, 255, 255, 0.4);
  box-shadow:
    inset 6px 5px 0px -6px rgba(255, 255, 255, 0.4),
    inset 0 0 3px 1px rgba(255, 255, 255, 0.3);
}
